.data-picker-pagin {
    cursor: pointer !important;
}
#zd-big-loading-image {
    position: absolute !important;
    z-index: 99 !important;
    width: 100%;
    left: -10px;
    top: 0px;
    height: 100%;
    text-align: center !important;
    background: #000;
    opacity: 0.7;
    filter: alpha(opacity=70);
}
#zd-big-loading-image #zd-load-big-img {
    margin: 15% auto 0 !important;
    float: none;
}
.page-all-past-events .one-event {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #ccc;
}
.page-all-past-events .one-event:first-child {
    border-top: none;
}

.page-all-past-events .one-event p {
    margin-bottom: 0px!important;
}

.page-all-past-events .alert, .page-find-jobs .alert {
    margin-top: 75px;
    margin-bottom: 75px;
}

.page-all-past-events .container-fluid {
    padding: 0px;
}

.page-all-past-events .one-event h3 {
    margin: 5px 0px;;
}

.page-all-past-events .one-event h3>a {
    color: #A31400;
    font-size: 18px;
    line-height: 20px;
}

.page-all-past-events .one-event h3>a:hover {
    color: #ff0000;
}

.page-all-past-events .one-event .right-date {
    font-size: 13px;
    font-weight: bold;
    color: #000;
    /*background: #8A7878;*/
    text-align: right;
    padding-top: 4px;
}

.page-all-past-events .container-fluid .pagin a.btn-pager {
    padding: 3px 15px;
    margin: 0px 10px;
}

.page-all-past-events .container-fluid .pagin div.date {
    margin-bottom: 0px;
}

.page-all-past-events .container-fluid .pagin:first-child {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}